# Data Analysis Jupyter Notebook Templates - ODOT Crash Data
* [Locally Running Postgres Server](#Local-Postgres-Sever)
* [Locally Running API](#Local-API)

## Local Postgres Server

To access the ODOT crash data through a local copy of the Postgres database.
* Make sure you have the Docker container set up and running (instructions [here](https://github.com/hackoregon/transportation-system-backend)).

* Import the `psycopg2` Postgres adaptor for python (can be installed with `pip` or `conda`).

```python
import psycopg2
```

* Use the Pandas data analysis library to handle the database data.

```python
import pandas as pd
```


* Create a connection object `conn` to the database using the listed arguments. Of important note is matching `dbname` to the one you're looking for, and that the `port` # is correct (I believe it is defined by the Docker container. Make sure to use the `password` you set in the .env file when setting up the database).

```python
conn = psycopg2.connect(host='localhost',
                        dbname='odot_crash_data',
                        user='postgres',
                        port='5439',
                        password='<sUpEr.SeCrEt.PaSsWoRD>')
```

* For a little information about the database, we can get a list of the table names from the schema using a `curs` object.

```python
curs.execute("""SELECT table_name FROM information_schema.tables WHERE table_schema='public'""")
tables = [x[0] for x in curs.fetchall()]
print(tables)
```

* Currently, we've identified the "crash", "vhcl" and "partic" tables as the ones to begin with. However, there are additional tables available that are NOT yet enabled in the API. To make a DataFrame out of one of them, in this case the "crash" database, use the `pd.read_sql()` method. This usage pulls the full table into a pandas DataFrame.

```python
dataframe = pd.read_sql("SELECT * FROM crash", conn)
```

* After just a second, the DataFrame should be populated. To view the first couple of rows, use the `.head()` method.

```python
dataframe.head()
```

Now you have a pandas DataFrame full with your odot crash data using a locally run copy of the Postgres database!

In [23]:
import psycopg2
import pandas as pd
conn = psycopg2.connect(host='localhost', dbname='odot_crash_data', user='postgres', port='5439', password='')
curs = conn.cursor()
curs.execute("""SELECT table_name FROM information_schema.tables WHERE table_schema='public'""")
tables = [_[0] for _ in curs.fetchall()]
print(tables)
dataframe = pd.read_sql("SELECT * FROM crash", conn)
dataframe.head()

['mvmnt', 'geography_columns', 'geometry_columns', 'spatial_ref_sys', 'raster_columns', 'raster_overviews', 'lgt_cond', 'medn_typ', 'mlge_typ', 'non_motrst_loc', 'partic', 'partic_typ', 'pop_rng', 'actn', 'cause', 'city_fips_hist', 'city_sect', 'cmpss_drct', 'cnty', 'collis_typ', 'crash', 'crash_hr', 'crash_key_xref', 'crash_svrty', 'crash_typ', 'drvr_lic_stat', 'drvr_res_stat', 'err', 'evnt', 'func_class', 'hwy_compnt', 'hwy_hist', 'impct_loc', 'inj_svrty', 'invstg_agy', 'isect_typ', 'jrsdct_grp', 'rd_char', 'rd_cntl', 'rd_surf_cond', 'rdwy', 'rte', 'sex', 'sfty_equip_use', 'specl_jrsdct', 'traf_cntl_device', 'urb_area', 'urb_area_fips_hist', 'vhcl', 'vhcl_ownshp', 'vhcl_typ', 'vhcl_use', 'wkday', 'wthr_cond', 'django_migrations', 'django_content_type', 'auth_group_permissions', 'auth_group', 'auth_user_groups', 'django_session', 'auth_permission', 'auth_user_user_permissions', 'auth_user', 'django_admin_log']

,row.names,crash_id,ser_no,crash_dt,crash_mo_no,crash_day_no,crash_yr_no,crash_wk_day_cd,crash_hr_no,crash_hr_short_desc,...,tot_sfty_equip_use_unknown_qty,tot_psngr_vhcl_occ_unrestrnd_fatal_cnt,tot_mcyclst_fatal_cnt,tot_mcyclst_inj_lvl_a_cnt,tot_mcyclst_inj_cnt,tot_mcyclst_unhelmtd_fatal_cnt,tot_alchl_impaired_drvr_inv_fatal_cnt,tot_drvr_age_01_20_cnt,lane_rdwy_dprt_crash_flg,geom_4269
0,1,1096439,00058,01/05/04 00:00:00,1,5,2004,2,20,8P,...,1,0,0,0,0,0,0,0,N,None
1,2,1096444,00056,01/05/04 00:00:00,1,5,2004,2,17,5P,...,0,0,0,0,0,0,0,0,N,None
2,3,1096447,00031,01/03/04 00:00:00,1,3,2004,7,4,4A,...,0,0,0,0,0,0,0,0,Y,None
3,4,1096449,00005,01/02/04 00:00:00,1,2,2004,6,18,6P,...,0,0,0,0,0,0,0,2,N,None
4,5,1096452,00018,01/02/04 00:00:00,1,2,2004,6,12,12P,...,0,0,0,0,0,0,0,0,N,None

## Local API

To access the ODOT crash data through a local copy of the API.

* Make sure you have the Docker container set up and running (instructions [here](https://github.com/hackoregon/transportation-system-backend)).

* Import the `requests` library to make the API calls.

```python
import requests
```

* Use the Pandas data analysis library to handle the database data.

```python
import pandas as pd
```


* First make a call to the base api. That will give schema information.

```python
response = requests.get('http://localhost:8000/api/')
for key in response.json().keys()
    print(key)
```

* To access a specific table from that list, enter it into the next field in the URL. In this call, we'll see how many records are in the "crashes" table. This can be found in the 'count' field of the json response object. If you were curious, the other fields available in addition to 'count' are 'next', 'previous', and 'results'. The 'next' and 'previous' fields are used to access the pagination.

```python
response = requests.get('http://localhost:8000/api/crashes/')
num_records = response.json()['count']
```

* Anyway, now that we have the record count, we can pull the full database at once (rather than paginate) by passing `num_records` as the 'limit' parameter in our query. If no 'limit' parameter is passed, the default pagination returns 10 records. Note: This makes use of Python f-strings, which came about in Python 3.6.

```python
response = requests.get(f"http://localhost:8000/api/crashes/?limit={num_records}")
```

* This call may take some time (for all the records), but after it returns you can create a DataFrame directly from the 'results' field of the json response object. 

```python
df_crash = pd.DataFrame(response.json()['results'])
```

* To view the first couple of rows of the data, use the `.head()` method.

```python
dataframe.head()
```

* Finally, you may was to set the `crash_id` field as the index of the DataFrame. To do so:

```python
df_crash.set_index('crash_id', drop=True, inplace=True)
```

Now you have a pandas DataFrame full with your odot crash data using a locally run copy of the API!

In [42]:
import requests
import pandas as pd
# Get API schema.
response = requests.get('http://localhost:8000/api/')
for key in response.json().keys():
    print(key)
# Get the 'crashes' table record count.
response = requests.get('http://localhost:8000/api/crashes/')
num_records = response.json()['count']
# Pull all the records from the 'crashes' table.
response = requests.get(f"http://localhost:8000/api/crashes/?limit={num_records}")
dataframe = pd.DataFrame(response.json()['results'])
dataframe.set_index('crash_id', drop=True, inplace=True)
dataframe.head()

crashes
participants
vehicles

,agy_st_no,alchl_invlv_flg,city_sect_id,city_sect_nm,cmpss_dir_cd,cnty_id,cnty_nm,collis_typ_cd,collis_typ_short_desc,crash_cause_1_cd,...,traf_cntl_device_cd,traf_cntl_device_short_desc,traf_cntl_func_flg,turng_leg_qty,unloct_flg,urb_area_cd,urb_area_short_nm,wrk_zone_ind,wthr_cond_cd,wthr_cond_short_desc
crash_id,,,,,,,,,,,,,,,,,,,,,
1593309,00457,1,245,Portland SE,1,26,Multnomah,0,PED,18.0,...,4,STOP SIGN,1,0.0,0,57,PORTLAND UA,0.0,2,CLD
1593337,01028,0,245,Portland SE,3,26,Multnomah,0,PED,2.0,...,99,UNKNOWN,1,NaN,0,57,PORTLAND UA,0.0,2,CLD
1593356,00305,0,243,Portland NE,3,26,Multnomah,5,SS-O,13.0,...,15,ONE-WAY,1,NaN,0,57,PORTLAND UA,NaN,3,RAIN
1593367,00745,0,245,Portland SE,1,26,Multnomah,3,REAR,7.0,...,15,ONE-WAY,1,NaN,0,57,PORTLAND UA,NaN,1,CLR
1593384,00322,0,242,Portland N,8,26,Multnomah,3,REAR,7.0,...,15,ONE-WAY,1,NaN,0,57,PORTLAND UA,NaN,1,CLR